{% set title = metadata.title %}
{% extends "layouts/tailwind.njk" %}

{% block head %}
<style>
.categories {
	list-style: none;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
  padding-left: 0;
}

.categories .p-category:not(:last-child)::after {
  content: ",";
}
.cl-ingredient,
.cl-timer {
    font-weight: bold;
}
</style>
{% endblock %}

{% block header %}
<div class="mt-[21px] pt-10">
    {% renderTemplate "webc" %}
        <breadcrumb-list :items='[{href: "/", text: "トップ"}, {href: ".", text: "相互リンク"}]'></breadcrumb-list>
    {% endrenderTemplate %}
</div>
{% endblock %}

{% block main %}
    <article class="h-recipe prose" itemscope itemtype="https://schema.org/Recipe">
        <h1 class="p-name title" itemprop="name">{{metadata.title}}</h1>
        {% if metadata.tags %}
        <ul class="categories">
            {%- for tag in metadata.tags %}
            <li class="p-category">{{tag}}</li>
            {%- endfor -%}
        </ul>
        {% endif %}
        <p class="p-summary" itemprop="description">
            {{metadata.note}}
        </p>
        <section id="ingredients">
            <h2 class="subtitle">材料</h2>
            <div>
                <p>
                    <data class="p-yield" itemprop="recipeYield" value="{{metadata.servings}}">{{metadata.servings}}</data>人前
                </p>
                <ul class="list-disc pl-5">
                    {%- for ingredient in ingredients %}
                        <li class="p-ingredient" itemprop="recipeIngredient">
                        <span class="p-ingredient">
                            {{ ingredient.name }}
                        </span> {% if ingredient.quantity != 'some' %}({{ ingredient.quantity }}{{ ingredient.units }}){% endif %}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </section>
        <section id="instructions">
            <h2 class="subtitle">つくり方</h2>
            <div class="e-instructions">
                <ol class="list-decimal pl-5">
                    {%- for step in steps %}
                        <li itemprop="recipeInstructions" itemscope itemtype="https://schema.org/HowtoStep">
                            <span itemprop="text">{{step | safe}}</span>
                        </li>
                    {% endfor -%}
                </ol>
            </div>
        {% if metadata.source %}
            {% if "http" in metadata.source %}
                <p><a href="{{ metadata.source }}">Source</a></p>
            {% else %}
                <p>Source: {{ metadata.source }}</p>
            {% endif %}
        {% endif %}
        <details class="pt-4">
	        <summary><code>{{ page.fileSlug }}.cook</code></summary>
	        <pre style="text-wrap: wrap">
	    	    {{- content | safe }}
	        </pre>
	    </details>
    </article>
    <aside class="mt-5">
        <a href="https://microformats.org/wiki/h-recipe">
            <img eleventy:ignore src="http://www.boogdesign.com/images/buttons/microformat_enabled.png" />
        </a>
    </aside>
{% endblock %}

{% block footer %}
{% renderTemplate "webc", {title: title} %}
  <breadcrumb-list :items='[{href: "/", text: "トップ"}, {href: "..", text: "レシピ"}, {href: ".", text: title}]'></breadcrumb-list>
{% endrenderTemplate %}

{% include "footer.njk" %}
{% endblock %}