<hr />
<footer>
<a href="{{"." | htmlBaseUrl}}#" rel="nofollow">このページの最上部へ</a>
<a style="display: block; margin-bottom: 20px;" href="https://sites.google.com/view/happy-busy/" rel="noopener">
    <img src="{{"/assets/img/happybusy.png" | htmlBaseUrl}}" alt="時間ねぇーバナー" />
</a>
<p>
    最終更新:
    <time datetime="{% date %}">{% date %}</time>
</p>
</footer>
