<meta name="og:title" content="{{ title }} - なかやばしのページ">
<meta name="og:type" content="website">
<meta name="og:url" content="{{ page.url | htmlBaseUrl }}">
<meta name="og:locale" content="ja-JP">
<meta name="twitter:title" content="{{ title }} - なかやばしのページ">
{% if description %}
<meta name="twitter:description" content="{{description}}">
<meta name="og:description" content="{{description}}">
{% endif %}
<meta name="twitter:creators" content="@eniehack">
<meta name="twitter:card" content="summary">
<meta name="fediverse:creator" content="@eniehack@mstdn.sublimer.me">