<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="{{ "/assets/favicon.ico" | htmlBaseUrl }}" />
    <title>{{ title }} - なかやばしのページ</title>
    {% include "../ogp.njk" %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        {% block breadcrumb %}
            <a rel="nofollow" href="{{ "/" | htmlBaseUrl}}">トップへ</a>
            <a rel="nofollow" href="{{ ".." | htmlBaseUrl}}">親階層へ</a>
        {% endblock %}
    </header>
    <hr />
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% include "footer.njk" %}
</body>
</html>
