<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="{{ '/assets/favicon.ico' | htmlBaseUrl }}" />
    <title>{{ title }} - なかやばしのページ</title>
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
    <link rel="schema.XSD" href="http://www.w3.org/2001/XMLSchema#" >
    <meta name="DC.title" lang="ja" content="{{ title }}" />
    <meta name="DCTERMS.modified" schema="XSD.date" content="{{ page.date | toISO8601 }}" />
    {% include "../ogp.njk" %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}" />
    <link rel="stylesheet" href="{{ '/assets/style.css' | htmlBaseUrl }}" />
    {% block head %}
    {% endblock %}
    <script type="application/ld+json">
    {
        "@context": {
          "dcterms": "http://purl.org/dc/terms/"
          "dc": "http://purl.org/dc/elements/1.1/"
        },
        "dc:title": "{{ title }}",
        "dcterms:creator": "なかやばし",
        "dcterms:modified": "{{ page.date | toISO8601 }}"
    }
    </script>
</head>
<body>
    <header class="container">
        {% block header %}
        {% endblock %}
    </header>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="container pt-8">
        {% block footer %}
            {% include "footer.njk" %}
        {% endblock %}
    </footer>
</body>
</html>
