---
title: レシピの一覧
pagination:
  data: recipes
  size: 10
date: Last Modified
sitemap:
  priority: 0.5
---

{% extends "layouts/base.njk" %}

{% block main %}
<article itemscope itemtype="https://schema.org/ItemList">
    <h1 itemprop="name">レシピ</h1>
    <p>口伝で聞いたレシピなどをここにまとめておく</p>
    <ul>
        {% for recipe in pagination.items %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ ['/recipes/', recipe.id] | join | htmlBaseUrl }}" itemprop="item">
            <span itemprop="name">{{recipe.title}}</span>
          </a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}