---
title: プロフィール
date: Last Modified
---

{% extends "layouts/tailwind.njk" %}

{% block head %}
<style>
.commalist__items {
	list-style: none;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
  padding-left: 0;
}

section ul {
  margin: 8px auto;
}

section h1 {
  margin: 7.8px auto;
}

.commalist__items .commalist__item:not(:last-child)::after {
  content: ",";
}
</style>
{% endblock %}

{% block header %}
    <div class="mt-[21px] pt-10">
    {% renderTemplate "webc" %}
        <breadcrumb-list :items='[{href: "/", text: "トップ"}, {href: ".", text: "プロフィール"}]'></breadcrumb-list>
    {% endrenderTemplate %}
    </div>
{% endblock %}

{% block main %}
<article class="prose max-w-[inherit]">
    <section class="h-card h-resume">
        <h1 class="title">プロフィール</h1>
        <section id="biography">
            <h2>名前</h2>
            <p class="p-nickname">なかやばし</p>
        </section>
        <section id="interests">
            <h2>興味・好きなもの</h2>
            <ul class="commalist__items">
                {% for item in profile.interests %}
                <li class="commalist__item">{{item}}</li>
                {% endfor %}
            </ul>
        </section>
        <section id="programming_skills">
            <h2>プログラミング経験</h2>
            <ul class="commalist__items">
                {% for item in profile.programming.skills %}
                <li class="p-skill commalist__item">{{item}}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>趣味</h2>
            <ul>
                <li>街歩き、知らない道を歩くこと</li>
                <li>旅行</li>
                <li>考えること</li>
                <li>読書</li>
                <li>音楽を聞くこと</li>
            </ul>
        </section>
        <!--<section>
            <h1>好きな言葉</h1>
            <div>
                <backquote>
                    <p>人がひとりでいるのは良くない。</p>
                    <footer><cite>創世記 2章18節</cite>より抜粋</footer>
                </backquote>
            </div>
        </section>-->
        <section id="music">
            <h2>好きなミュージシャン・曲</h2>
            <ul>
                {% for item in profile.music %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
            <p>
                好きな曲は<a href="https://listenbrainz.org/user/eniehack/taste/">listenbrainz</a>にもあります。
            </p>
        </section>
        <section id="links">
            <h2>リンク</h2>
            <ul>
                {% for item in profile.links -%}
                <li>
                    <a class="not-prose grid grid-cols-[32px_1fr] gap-2" class="p-contact u-url" href="{{ item.uri }}" rel="me noopener">
                        <div class="size-8 inline-block">
                        {% if item.icon and item.icon.url -%}
                            <img class="not-prose" src="{{ item.icon.url }}" alt="{{item.text}}のアイコン" width="32" height="32"/>
                        {%- else -%}
                            <img class="not-prose" src="/img/globe.svg" alt="globe icon" width="32" height="32"/>
                        {% endif -%}
                        </div>
                        <span>
                            {{- item.text -}}
                        </span>
                    </div>
                </li>
                {%- endfor %}
            </ul>
        </section>
    </section>
</article>
<a href="{{'/profile/otaku' | htmlBaseUrl}}"></a>
{% endblock %}
