---
title: トップ
date: Last Modified
sitemap:
  priority: 0.5
---

{% extends "layouts/base.njk" %}

{% block head %}
<meta name="google-site-verification" content="InQfr6XGSjhc5_nXCh6mmjNerBLSBv0QON6VKPLYpfE" />
{% endblock %}

{% block main %}
<article>
    <h1>なかやばしのページ</h1>
    <ul>
        {% for link in links %}
            {% if link.internal_link %}
            <li><a href="{{ link.href | htmlBaseUrl }}">{{link.text}}</a></li>
            {% else %}
            <li><a href="{{ link.href }}">{{link.text}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</article>
{% endblock %}
