---
title: 相互リンク
date: Last Modified
---

{% extends "layouts/tailwind.njk" %}

{% block header %}
    <div class="mt-[21px] pt-10">
    {% renderTemplate "webc" %}
        <breadcrumb-list :items='[{href: "/", text: "トップ"}, {href: ".", text: "相互リンク"}]'></breadcrumb-list>
    {% endrenderTemplate %}
    </div>
{% endblock %}

{% block main %}
<article class="prose max-w-[inherit]">
    <section>
        <h1 class="text-4xl font-black mb-[21px] pb-10">相互リンク</h1>
        <div class="flex flex-wrap gap-2">
        {% for item in mutuallinks | sort(false, false, "type") %}
            {% if item.banner.src %}
                {% if item.banner.width and item.banner.height %}
                <div class="mutual_link not-prose">
                    <a class="inline-block" href="{{ item.url }}" rel="{{ item.rel | join(" ") }} noopener">
                        <img class="not-prose border border-neutral-400" eleventy:widths="auto" src="{{item.banner.src}}" width="{{item.banner.width}}" height="{{item.banner.height}}" alt="{{item.name}}さんのサイトのバナー" />
                    </a>
                </div>
                {% else %}
                <div class="mutual_link not-prose">
                    <a class="inline-block" href="{{ item.url }}" rel="{{ item.rel | join(" ") }} noopener">
                        <img class="not-prose border border-neutral-400" eleventy:widths="auto" src="{{item.banner.src}}" alt="{{item.name}}さんのサイトのバナー" />
                    </a>
                </div>
                {% endif %}
            {% elif item.avatar %}
            <a class="mutual_link hover:bg-blue-100 hover:border-blue-200 border border-transparent rounded-md p-3" href="{{ item.url }}" rel="{{ item.rel | join(" ") }} noopener">
                <div class="flex flex-cols gap-2 not-prose">
                    <img class="size-8" src="{{ item.avatar }}" alt="{{item.name}}さんのavatar" />
                    <span>{{item.name}}</span>
                </div>
            </a>
            {% else %}
            <a class="mutual_link hover:bg-blue-100 hover:border-blue-200 rounded-md border border-transparent p-3" href="{{ item.url }}" rel="{{ item.rel | join(" ") }} noopener">
                <div class="flex flex-cols gap-2">
                    <div class="size-8 text-neutral-700 not-prose">
                        <!-- svg from bootstrap icon (https://icons.getbootstrap.com/icons/person-square/) -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                        </svg>
                    </div>
                    <span>{{item.name}}</span>
                </div>
            </a>
            {% endif %}
        {% endfor %}
        </div>
        </section>
    </section>
    <section id="how-to-join">
        <h1 class="subtitle">参加するには</h1>
        <p><a href="{{ "/profile/#links" | htmlBaseUrl }}">プロフィールページ中の「リンク」</a>から、適当な連絡先を選び、リンクしてほしいURLと名前を送ってください。もしあれば、アイコンやバナーのURLも添えていただければ、名前と共に掲載します。</p>
    </section>
</article>
<aside class="prose mt-8">
    <p>アイコンは<a href="https://icons.getbootstrap.com/icons/person-square/">Bootstrap Icon</a>から拝借しました</p>
    <a href="http://gmpg.org/xfn"><img eleventy:ignore src="https://gmpg.org/xfn/xfn-btn.gif" alt="XFN Friendly" /></a>
</aside>
{% endblock %}
    
{% block footer %}
    {% include "footer.njk" %}
{% endblock %}